<?xml version="1.0"?>
<robot name="ur_dummy" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- colors -->
  <material name="aluminum">
    <color rgba="0.5 0.5 0.5 0.5"/>
  </material>

  <material name="white">
     <color rgba="1 1 1 1"/>
  </material>

  <material name="blue">
     <color rgba="0 0 1 1"/>
  </material>

  <link name="world" />

  <link name="table">
    <visual>
      <geometry>
        <box size="0.8 0.8 1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <material name="aluminum"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.8 0.8 1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
    </collision>
  </link>

  <!-- place table -->
  <joint name="table_world_joint" type="fixed">
    <parent link="world"/>
    <child link="table"/>
    <origin xyz="0 0 0.5" rpy="0 0 0"/>
  </joint>


  <xacro:include filename="$(find rob9)/urdf/torso.urdf.xacro"/>
  <link name="torso_link"/>

  <joint name="torso_joint" type="fixed">
    <parent link="torso_link"/>
    <child link="torso"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 -0.02 0"/>
  </joint>

  <joint name="table_torso_joint" type="fixed">
    <parent link="table"/>
    <child link="torso_link"/>
    <origin xyz="-0.045 -0.215 0.5" rpy="${pi/2} 0 -${pi/2}"/>
  </joint>

  <xacro:include filename="$(find ur_description)/urdf/inc/ur_macro.xacro"/>
  <!-- parameters -->
  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/ur5/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/ur5/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/ur5/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/ur5/visual_parameters.yaml"/>
  <!-- legal values:
        - hardware_interface/PositionJointInterface
        - hardware_interface/VelocityJointInterface
        - hardware_interface/EffortJointInterface
  -->
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>

  <xacro:ur_robot
    prefix=""
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"/>

  <joint name="robot_torso_joint" type="fixed">
    <parent link="right_link"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 ${pi/4}"/>
  </joint>

  <xacro:include filename="$(find rob9)/urdf/robotiq-3f-gripper_articulated.urdf.xacro"/>
  <joint name="s_model_gripper" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="${pi} 0 0"/>
    <parent link="flange" />
    <child link="s_connector_plate" />
  </joint>

  <xacro:include filename="$(find rob9)/urdf/flir_d48e.urdf.xacro"/>
  <joint name="PTU_table_joint" type="fixed">
    <parent link="table"/>
    <child link="ptu_base"/>
    <origin xyz="-0.05617 -0.2085 1.1145" rpy="1.57079 0 0"/>
  </joint>

  <xacro:include filename="$(find rob9)/urdf/_d435.urdf.xacro"/>

  <xacro:sensor_d435 parent="camera_ptu_link" prefix="ptu_">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:sensor_d435>

  <!-- <box size="0.4 0.4 0.4345"/> -->
  <link name="top_table">
    <visual>
      <geometry>
        <box size="0.4 0.4 0.43"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <material name="aluminum"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.4 0.4 0.43"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
    </collision>
  </link>

  <joint name="top_table_table_joint" type="fixed">
    <parent link="table"/>
    <child link="top_table"/>
    <origin xyz="0 0 0.717" rpy="0 0 0"/>
  </joint>
---------------------------------------------
---------------------------------------------
--------------------------------------------
<link name="connector_box_camera">
  <visual>
    <geometry>
      <box size="0.05 0.05 0.05"/>
    </geometry>
    <origin rpy="0 0 0" xyz="0 0 0.0"/>
  </visual>
  <collision>
    <geometry>
      <box size="0.05 0.05 0.05"/>
    </geometry>
    <origin rpy="0 0 0" xyz="0 0 0.0"/>
  </collision>
</link>

<joint name="connector_box_camera" type="fixed">
  <parent link="ptu_camera_right_ir_frame"/>
  <child link="connector_box_camera"/>
  <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

</robot>
